.mainDiv {
    max-width: 700px;
    width: 100%;
    margin: auto;
    position: relative;
    top: 50%;
    margin-top: 5rem;
    /* transform: translate(-140%, 20%); */
}

form {
    background-color: #CBE4DE;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    padding: 5rem 3rem;
    padding-bottom: 1.5rem;
}

label {
    display: inherit;
    flex-direction: inherit;
    font-size: 24px;
}

input[type="text"],
input[type="url"] {
    margin-bottom: 30px;
    padding: 10px;
    margin-top: 10px;
    /* background: transparent; */
    border: none;
    border-radius: 5px;
}

#convertedLink {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #dbeef7;
    color: blue;
}

#convertedLink:hover {
    text-decoration: underline;
}

.qrCode {
    margin-bottom: 30px;
}

.flexBtn {
    margin-top: 0;
}

.btn {
    position: relative;
    width: max-content;
    margin: auto;
    /* margin-top: 30px; */
    margin-bottom: 0;
    margin-right: 10px;
    cursor: pointer;
    padding: 1rem;
    word-spacing: 0.1rem;
    letter-spacing: 0.03rem;
    font-size: 20px;
    border-radius: 10px;
    border: transparent;
    background-color: #0E8388;
    color: #fff;
}
